extends layouts/layout

append variables
  - var title = "Страница не найдена"
  - var currentPage = "not-found-page"
  - var isAuthorized = false
  - var headline = "Страница не существует"

block content
  main(class=currentPage)
    h2 Тестовая страница
